<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
  </head>
  <body>
    <h1>Inventory App</h1>
    <a href="/category">View Categories</a>
    <a href="/item">View Items</a>
  </body>
</html>
